<% @page_title = "Teachers menu"%>
<div>
  <h2> Teachers Menu</h2>
  <ul>
    <li><%= link_to("Classrooms", classrooms_path)%></li>
    <li><%= link_to("logout", access_logout_path)%></li>
  </ul>

</div>
