<!DOCTYPE html>
<html>
<head>
  <title>TimeFirst</title>
  <%= stylesheet_link_tag('admin', :media => 'all') %>
</head>
<body>
      <div id = "header">
          <h2>TimeFirst</h2>
          <h3><%= Time.now.strftime("%A, %d/%m/%Y") %></h3>
          <br>
          <% if session[:user_id] %>
          <h4> You are logged as <%=  @username =Teacher.find(session[:user_id]).first_name%></h4>
          <%end%>
      </div>
          <div id='main'>

          <div id='content'>
          <%= yield %>
        </div>
      </div>
      <div id='footer'>
        <p>Anananana</p>
      </div>
</body>
</html>
